.input{
    color: black;
    background-color: white;
    text-align: center;
}

.small{
    size: 2rem;
    font-size: small;
}

.medium{
    size: 3rem;
    font-size: medium;
}

.large{
    size: 4rem;
    font-size: large;
}